header{
    padding: 1rem 0;
    display: block;
}

#header{
    text-align: center;
    max-width: 800px;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  p.subtitle{
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
}